body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('fundo2.avif'); 
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

.line {
    border-top: 1px solid #6ca6e0;
    margin: 10px 0;
    
}

.user-info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-info-wrapper img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.achievement-box {
    background-color: #1c2a38;
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.achievement-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
}

.achievement-content {
    display: flex;
    flex-direction: column;
}

.achievement-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.achievement-description {
    font-size: 14px;
    margin-top: 5px;
    color: #c0c0c0;
}

.joao{
    color: #6ca6e0;
}